@import url(https://fonts.googleapis.com/css?family=Roboto);

@follow-back-color: #60C760;
@follow-color: white;

html * {
    font-family: 'Roboto', sans-serif;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin: 0px;
}

#people {
    width: 100%;

    tr {
        td {
            width: 15%;
        }

        td:first-child {
            width: 55%;
        }
    }

    .avatar {
        width: 64px;
        height: 64px;
        border-radius: 5px;
    }

    .follow-control {
        cursor: pointer;

        &.unfollow {
            &:hover::before {
                content: 'Follow';
                background-color: @follow-back-color;
                color: @follow-color;
            }
        }

        &.follow {
            &:hover::before {
                content: 'Unfollow';
                background-color: @follow-back-color;
                color: follow-color;
            }
        }
    }
}